.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

#deleteForm {
    display: inline;
}

.deleteForm {
    display: inline;
}

#profile {
    text-align: center;
}

#resetLink {
    margin-left: 15px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 40px;
    background-color: #f5f5f5;
}